@import url(./assets/css/variables.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--main-bg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 384px;
  background-color: var(--card-bg);
  border-radius: 20px;
  margin: var(--200);
  box-shadow: var(--shadow-100) var(--shadow-100) var(--card-border);
}

.card:hover {
  box-shadow: var(--shadow-150) var(--shadow-150) var(--card-border);
}

.card-image > img {
  width: 100%;
  border-radius: 10px;
}

.subtitle {
  width: 82px;
  background-color: var(--main-bg);
  padding: var(--50) var(--150);
  border-radius: var(--50);
}

.title > a {
  text-decoration: none;
}

.title > a:hover {
  color: var(--main-bg);
}

.card-author {
  gap: var(--150);
  align-items: center;
}

.author-img > img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 376px) {
  .card {
    margin: var(--150);
    width: 327px;
  }
}